@use '../../App.scss';

.menus {
    position: relative;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(var(--tertiary));
    align-items: center;
    justify-content: space-between;

    .button {
        width: 60px;
        height: 60px;
        border: none;
        background: none;
    }

    .upper-container{
        position: relative;
        top: 0;
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .sidebar-menu-button {
            margin-top: 30px;
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background: none;
            border: none;
            padding: none;
            border-radius: 10px;
            height: 50px;
            width: 50px;
            cursor: pointer;
            transition: all 0.2s ease;

            .bar {
                background: rgba(var(--tertiary));
            }

            &:hover {
                transform: scale(1.05);
                .bar {
                    background: rgba(var(--text));
                }
            }
        }

        .user-button {
            @extend .button;
            margin-top: 50px;

            .user-icon {
                justify-self: center;
                align-self: center;
                color: rgba(var(--tertiary));
                border-radius: 50%;
                width: 100%;
                height: auto;
                cursor: pointer;
                transition: all 0.2s ease;
                
                &:hover {
                    transform: scale(1.05);
                    color: rgba(var(--text));
                }
            }

            &.active {
                .user-icon {
                    color: rgba(var(--primary));
                }
            }
        }
    }

    .lower-container {
        display: flex;
        height: 35%;
        width: 100%;
        border-top: 2px solid rgba(var(--tertiary));
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .settings-button {
            @extend .button;

            .gear-icon {
                color: rgba(var(--tertiary));
                border-radius: 50%;
                width: 100%;
                height: auto;
                cursor: pointer;
                transition: all 0.2s ease;
                
                &:hover {
                    transform: scale(1.05);
                    color: rgba(var(--text));
                }
            }

            &.active {
                .gear-icon {
                    color: rgba(var(--primary));
                }
            }
        }

        .privacy-button {
            @extend .button;

            .privacy-icon {
                justify-self: center;
                align-self: center;
                color: rgba(var(--tertiary));
                border-radius: 50%;
                width: 100%;
                height: auto;
                cursor: pointer;
                transition: all 0.2s ease;
                
                &:hover {
                    transform: scale(1.05);
                    color: rgba(var(--text));
                }
            }

            &.active {
                .privacy-icon {
                    color: rgba(var(--primary));
                }
            }
        }
        
        .terms-button {
            @extend .button;
            height: 50px;
            margin-bottom: 30px;

            .term-icon {
                color: rgba(var(--tertiary));
                border-radius: 6px;
                height: 100%;
                width: auto;
                cursor: pointer;
                transition: all 0.2s ease;
                
                &:hover {
                    transform: scale(1.05);
                    color: rgba(var(--text));
                }
            }

            &.active {
                .term-icon {
                    color: rgba(var(--primary));
                }
            }
        }
    }
}

.menu-display {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
    color: rgba(var(--text));
    
    h2 {
        margin-top: 20px;
        text-align: center;
        color: rgba(var(--text));
    }

    .profile-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;

        .profile-image {
            margin-top: 10px;
            width: 50%;
            height: auto;
        }

        .profile-image-placeholder {
            margin-top: 10px;
            width: 50%;
            height: auto;
            color: rgba(var(--tertiary));
        }
    
        .email {
            height: 20px;
            margin: 20px auto 0 auto;
        }

        .email-placeholder {
            margin: 20px auto 0 auto;
            height: 12px;
            width: 65%;
            background: rgba(var(--tertiary));
            border-radius: 10px;
        }
    
        .stats {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: left;
    
            h3 {
                margin-top: 60px;
                margin-bottom: 30px;
                width: 100%;
                text-align: center;
                color: rgba(var(--text));   
            }
            
            .stat-row {
                height: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
        
                .info-button {
                    position: relative;
                    display: flex;
                    width: 15px;
                    height: auto;
                    margin-left: 10px;
                    border: none;
                    background: none;

                    .info-icon {
                        flex: 1;
                        color: rgba(var(--primary));
                        border-radius: 50%;
                        border: 1px solid rgba(var(--text));
                    }

                    .info-box {
                        position: absolute;
                        bottom: 100%;
                        right: 100%;
                        transform: translate(10%, -10%);
                        width: 220px;
                        height: 60px;

                        padding: 10px;
                        border-radius: 8px;
                        background: rgba(var(--tertiary));
                        color: rgba(var(--text));
                        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
                        z-index: 100;

                        text-align: left;
                        white-space: normal;
                        word-wrap: break-word;
                        display: block;

                        p {
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
            p {
                height: 20px;
                text-align: left;
                margin-left: 25%;
            }
        }
    }

    .terms-menu {
        flex: 1;
        overflow-y: auto;
        text-align: left;
        margin-left:1.5rem;

        h3 {
            margin-right: 1.5rem;
        }

        p {
            margin-right: 1.5rem;
        }
    }

    .privacy-menu {
        flex: 1;
        overflow-y: auto;
        text-align: left;
        margin-left:1.5rem;

        h3 {
            margin-right: 1.5rem;
        }

        p {
            margin-right: 1.5rem;
        }
    }

    .settings-menu {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        

        .visuals {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 20%;
            border-top: 2px solid rgba(var(--tertiary));
            border-bottom: 2px solid rgba(var(--tertiary));
        
            .visual-toggle {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                height: 50%;
                border-top: 2px solid rgba(var(--tertiary));

                .toggle-button {
                    height: 30px;
                    width: 60px;
                    border-radius: 30px;
                    border: none;
                    background: none;
                }
            }
        }
    }
}